body{
  background: black;
  font-family: 'Ubuntu', sans-serif;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.clock{
    font-size: 14em;
    position: relative;
    text-align: center;
    color: white;
    border: 10px solid coral;
}